@import 'main.sss'
@import 'palette.sss'

html
  width: 100%
  font-size: 100%

body
  font: $base-font-size/$base-line-height 'Roboto Condensed', sans-serif
  width: 100%
  margin: 0 0
  color: $primary-color
  background-color: $primary-color

:global(div#root)
  width: 100%
  min-height: 100%
  display: flex
  flex-flow: row nowrap
  justify-content: center
