/* Coolors Exported Palette - coolors.co/61210f-ea2b1f-edae49-f9df74-f9edcc */
$bg-color: rgba(249, 237, 204, 1)
$primary-color: rgba(97, 33, 15, 1)
$accent1-color: rgba(237, 174, 73, 1)
$accent2-color: rgba(249, 223, 116, 1)
$accent3-color: rgba(234, 43, 31, 1)
