/* Coolors Exported Palette - coolors.co/61210f-ea2b1f-edae49-f9df74-f9edcc */

/* HSL */
$color1: hsla(13%, 73%, 22%, 1);
$color2: hsla(4%, 83%, 52%, 1);
$color3: hsla(37%, 82%, 61%, 1);
$color4: hsla(48%, 92%, 72%, 1);
$color5: hsla(44%, 79%, 89%, 1);

/* RGB */
$color1: rgba(97, 33, 15, 1);
$color2: rgba(234, 43, 31, 1);
$color3: rgba(237, 174, 73, 1);
$color4: rgba(249, 223, 116, 1);
$color5: rgba(249, 237, 204, 1);